<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAGE_SQL_CONNECTION.My.MySettings.Local_Connection"
            connectionString="Data Source=DESKTOP-UVG5I61\SQLEXPRESS;Initial Catalog=SAMINC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SAGE_SQL_CONNECTION.My.MySettings.MFGCOM_SERVER" connectionString="Data Source=DESKTOP-UVG5I61\SQLEXPRESS;Initial Catalog=MFGCOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SAGE_SQL_CONNECTION.My.MySettings.MFGCOMConnectionString"
            connectionString="Dsn=MFGCOM;description=MFGCOM;uid=admin;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=DESKTOP-UVG5I61;database=MFGCOM"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>